<footer class="page-footer">
    <div class="container">
        <div class="footer">
            <a href="#" class="logo">
                <svg>
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <p class="footer__info">
                Все права на публикуемые на сайте материалы принадлежат Legato. Любая информация, представленнаяна данном сайте, носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437 ГК РФ.
            </p>
            <div class="nav-contact">
                <a href="tel:+94951299226">
                    <p>+7 (495) 129-92-26</p>
                    <p>Звонок бесплатный</p>
                </a>
                <div class="whatsapp">
                    <svg>
                        <use xlink:href="#whatsapp" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</footer>