<header class="page-header">
    <div class="header-bg"><img src="/img/header-bg.jpg" alt="header-bg">
    </div>
    <div class="container">
        <div class="header">
            <a href="#" class="logo">
                <svg>
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#" data-text="Описание">
                            <span>
                                Описание
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-text="Применение">
                            <span>
                                Применение
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-text="Виды">
                            <span>
                                Виды
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-text="Выбрать толщину">
                            <span>
                                Выбрать толщину
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-text="Внешний вид">
                            <span>
                                Внешний вид
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-text="Свойства">
                            <span>
                                Свойства
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-text="Расчет стоимости">
                            <span>
                                Расчет стоимости
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-text="Отзывы">
                            <span>
                                Отзывы
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="nav-contact">
                <a href="tel:+94951299226">
                    <p>+7 (495) 129-92-26</p>
                    <p>Звонок бесплатный</p>
                </a>
                <div class="whatsapp">
                    <svg>
                        <use xlink:href="#whatsapp" />
                    </svg>
                </div>
            </div>
        </div>
        <main class="main">
            <h1>Мягкое стекло на стол — силиконовая скатерть «‎Гибкое стекло»</h1>
            <div class="main-btn">
                <button class="btn btn-cost">Рассчитать стоимость</button>
                <button class="btn btn-consultation">
                    <svg>
                        <use xlink:href="#chat" />
                    </svg>
                    Получить консультацию
                </button>
             </div>
        </main>
        <div class="superiority">
            <div class="superiority__item">
                <svg>
                    <use xlink:href="#20" />
                </svg>
                <p>Сохраним новизну вашего стола на 20 лет</p>
            </div>
            <div class="superiority__item">
                <svg>
                    <use xlink:href="#star" />
                </svg>
                <p>Зищитим любую поверхность от цараин и сколов</p>
            </div>
            <div class="superiority__item">
                <svg>
                    <use xlink:href="#size" />
                </svg>
                <p>Поможем выбрать<br> размер скатерти</p>
            </div>
            <div class="superiority__item">
                <svg>
                    <use xlink:href="#express" />
                </svg>
                <p>Доставим в любой город России</p>
            </div>
        </div>
        <article class="slider-tablecloth">
            <div class="slider-tablecloth__content">
                <h2>Cиликоновая скатерть — прозрачная защита для мебели</h2>
                <p>Силиконовая скатерть «гибкое стекло» - современная зашита вашего стола! Прозрачная скатерть даст защиту вашей мебели от скалываний, загрязнений и царапин. Больше не нужно прятать красивую мебель, чтобы ее защитить!</p>
                <button class="btn btn-cost">Рассчитать стоимость</button>
            </div>
            <div class="slider-tablecloth__img"></div>
        </article>
    </div>
</header>