{{#extend "layout"}}
{{#content "main"}}


<section>
    <div class="container">
        <article class="slider-tablecloth" id="slider-tablecloth">
            <div class="slider-tablecloth__content">
                <h2>Cиликоновая скатерть — прозрачная защита для мебели</h2>
                <p>Силиконовая скатерть «гибкое стекло» - современная зашита вашего стола! Прозрачная скатерть даст защиту вашей мебели от скалываний, загрязнений и царапин. Больше не нужно прятать красивую мебель, чтобы ее защитить!</p>
                <button class="btn btn-cost">Рассчитать стоимость</button>
            </div>
            <div class="juxtapose" >
                <img src="/img/img.jpg"/>
                <img src="/img/img.jpg"/>
            </div>
        </article>
    </div>
</section>


{{/content}}
{{/extend}}